body,h1,h2,h3,p{
    margin:0;
    padding:0;
}

body,head{
    font-family: "Comic Sans MS", cursive;
}

body {
    background-color: black;
    color: orange;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px
}

#player-info-left,
#player-info-right{
    flex:1;
    padding:10px;
    border:2px solid limegreen;
    margin:10px
}

#game-container{
    flex:2;
    text-align:center;
    margin:15px
}

#game-board {
    border: 3px solid limegreen;
    padding: 20px;
}

#player-info {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.player {
    margin-bottom: 20px;
}

#player-turn,
#winner-text {
    text-align: center;
    margin-top: 20px;
}

h1,
h2 {
    text-align: center;
}

#start-button{
    display:block;
    margin: 0 auto
}
footer{
    text-align: center;
}

#button-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "title title title" 
    "button1 button2 button3"
    "button4 button5 button6"
    "button7 button8 button9";
}

#button-container h3 {
    grid-area: title; 
}

#button-container button {
    width: 100%;
    text-align: center;
    grid-area: auto;
    cursor: pointer;
    font-size: 24px; 
    font-weight: bold; 
    background-color: white;
    padding: 25px;
    height:86px 
}

#button1, #button4, #button7 {
    border-left: none; 
}

#button3,#button6, #button9 {
    border-right: none; 
}

#button3, #button2, #button1 {
    border-top: none; 
}

#button7, #button8, #button9{
    border-bottom: none; 
}